body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.header{
    background-image: url('../images/header.jpg');
    background-size: cover;
    color: white;
    text-align: left;
    padding: 20px;
}



.nav {
    margin-top: 10px;
    background-color: #333;
    padding:10px;
}

.nav a{
    color: white;
    text-decoration: none;
   margin 10px;
}

.nav a:hover{
    text-decoration: underline;
}

article {
    margin: 15px 0;
    padding: 15px;
    border-bottom: 1px solid #555555;

}

.articles header h1{
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.articles p{
    margin: 10px;
    color:#555;
}

article footer a{
    color: blue;
text-decoration: none;
font-weight: bold;
}
.article footer a:hover{
    text-decoration: underline;
}

.footer{
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    font-size: 0.9em;
    margin-top: 20px;
}